button {
	background-color: #ff145b;
	border-radius: 10px;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 26px;
	font-weight: bold;
	margin: 4px 2px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 32px;
}

button a { color: white; }
footer { grid-area: footer; }
header { grid-area: titulo; }

hr{
    border: 0;
    height: 1px;
    width: 80%;
    background-image: linear-gradient(to right, #1c1c1c, #000000, #1c1c1c);
}

main {
	background-image: url(../imagens/fundo.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-area: publicidade;
	z-index: 1;
}

p{
	color: #fff
}

.acionar{ display: flex; }

.botao{
    align-items: center;
    background-color: #121214;
    display: flex;
    grid-area: botao;
    justify-content: center;

}

.convidar{ margin-top: 50px; grid-area: convites; }

.convidar button{
	background-color: #ff145b;
	border-radius: 10px;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin: 4px 2px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 32px;   
}

.convidar .confirmado { background-color: #00D248; }

.informacao { background-color: #121214; grid-area: info; margin: 40px; }

.informacao h3 { margin-top: 0; margin-left: 35px; font-size: 45px; }

.informacao p {
	font-size: 20px;
	font-weight: bolder;
    margin-left: 35px;
	word-break: keep-all;
}

.locacao {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 8vh 50vh ;
	grid-template-areas: "titulo usuario" "publicidade publicidade" "info botao" "convites convites";
}

.nome_usuario {
	margin-right: 20px;
	margin-top: 20px;
	font-size: 25px;
	font-weight: bolder;
	word-break: keep-all;
}

.usuario {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	grid-area: usuario;
}

.pacote{ display: flex; flex-direction: row; }

.perfis { display: flex; flex-direction: row; justify-content: space-around; }

.pesquisar {
	background-color: #121214;
	border: none;
	border-bottom: 2px solid #ff145b;
	box-sizing: border-box;
	height: 60%;
	margin: 12.5px 15px;
	padding: 12px 20px;
	width: 40%;
}


.titulo { font-size: 35px; font-weight: bold; margin: 10px; }

@media only screen and (max-width: 960px) {
	body {
		background-position: center;
		background-size: initial;
	}
	.pesquisar {
		width: 60%;
	}
	.locacao {
        grid-template-rows: 10vh 40vh ;
        grid-template-areas: "titulo usuario" "publicidade publicidade" "info info" "botao botao" "convites convites";
	}

}
