body { background-image: url(../imagens/fundo.jpg); background-size: cover; }
footer { grid-area: footer; }
header { grid-area: titulo; }

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-area: publicidade;
	z-index: 1;
}

p {
	color:#fff;
	margin-right: 20px;
	margin-top: 10px;
	font-size: 25px;
	font-weight: bolder;
	word-break: keep-all;
}

.conteudo {
	margin-left: 45px;
}

.conteudo h3 {
	font-size: 55px;
}

.locacao {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 10vh 60vh 30vh;
	grid-template-areas: "titulo usuario" "publicidade aside" "footer footer";
}

.nome_usuario {
    margin-top: 20px;
}

.pesquisar {
	background-color: #121214;
	border: none;
	border-bottom: 2px solid #ff145b;
	box-sizing: border-box;
	height: 60%;
	margin: 12.5px 15px;
	padding: 12px 20px;
	width: 40%;
}

.titulo {
	font-size: 35px;
	font-weight: bold;
	margin: 10px;
}

.usuario {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	grid-area: usuario;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 100%);
	overflow: hidden;
	scroll-behavior: smooth;
}

.wrapper section {
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, auto);
	margin: 20px 0;
}

.wrapper section .item {
	padding: 0 2px;
	transition: 250ms all;
	cursor: pointer;
}

.wrapper section .item:hover {
	margin: 0 40px;
	transform: scale(1.2);
}

.wrapper section .arrow__btn {
	position: absolute;
	color: #fff;
	text-decoration: none;
	font-size: 6em;
	background: black;
	width: 80px;
	padding: 20px;
	text-align: center;
	z-index: 1;
}

.wrapper section .arrow__btn:nth-of-type(1) {
	top: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.wrapper section .arrow__btn:nth-of-type(2) {
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

@media only screen and (max-width: 960px) {
	body {
		background-position: center;
		background-size: initial;
	}
	.pesquisar {
		width: 60%;
	}
	.locacao {
		grid-template-rows: 10vh 60vh 30vh;
		grid-template-areas: "titulo usuario" "publicidade publicidade" "footer footer";
	}

}
