
body { background-color: #121214; background-size: cover;}

aside {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-template-areas: perfil;
    justify-content: center;
}

main { 
    display: flex;
    flex-direction: column;
    grid-template-areas: informacoes; 
    text-align: left;
}

.confirmacao{ display: flex; flex-direction: row; margin: 10px 15px; }
.confirmar{ margin-right: 5px; background-color: #32a852; }
.convites{ align-items: center; display: flex; flex-direction: column; }
.data { font-size: 25px; margin-left: 20px; }
.email { margin:5px; font-size: 35px; }

.item {
    border: 2px solid #eeeeee;
    border-radius: 15px;
    margin: 5px ;
    width: 45%;
}

.home { font-size: 35px; font-weight: bold; margin: 15px; }
.home a { color: #fff; }


.locacao{
    display: grid;
	grid-template-columns: 35% 65%;
    grid-template-rows: 100vh;
    grid-template-areas: "perfil informacoes";
}

.logo {
    background-color: #FF145B;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

.pacote {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.participando {  align-items: center; display: flex; flex-direction: column; }
.rejeitar { background-color: #fa2542 ; margin-left: 5px; }
.subtitulo { font-size: 35px; margin:15px; font-weight: bolder;}
.titulo { font-size: 75px; margin:5px; }


@media only screen and (max-width: 960px) {
    aside{ height: 30vh; }
    
    .item { width: 95%; margin-left: 15px; }
    .locacao { display: flex; flex-direction: column;}
    .titulo { font-size: 45px; margin:5px; }
    .subtitulo { font-size: 35px; margin-left: 25px; }
    .email { font-size: 25px; margin:5px; }
    
    .logo {
        background-color: #FF145B;
        border-radius: 50%;
        height: 150px;
        margin-top: 20px;
        width: 150px;
    }
}

@media screen and (max-device-width: 640px){
    .logo {
        background-color: #FF145B;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    .item {
        border: 2px solid #eeeeee;
        border-radius: 15px;
        margin: 5px ;
        width: 95%;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .item {
        border: 2px solid #eeeeee;
        border-radius: 15px;
        margin: 15px ;
        width: 95%;
    }
    .logo {
        background-color: #FF145B;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    .locacao { display: flex; flex-direction: column;}
}